<%- include ('partials/header') %> 


<div class="game">

    <img src="img/<%=jeu.image%>.jpg">
    <p class="titre"><%= jeu.titre %></p>
    <p>Disponible sur : <%=jeu.plateforme%></p>
    <p class="description"><%= jeu.description%></p>
    <p class="date">Date de sortie :  <%= jeu.date_de_sortie%> </p>
    <p>Note moyenne des joueurs :<%=jeu.note%>/10</p>
    
  </div>


  <%- include ('partials/footer') %> 
  